#python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec.bak

#VE
venv/
.venv/
env/

#PyInstaller
*.manifest
*.spec.bak

#IDE
.vscode/
.idea/
*.swp
*.swo

#OS
.DS_Store
Thumbs.db
desktop.ini

#App runtime
.deadlock-rpc/
*.log
*.lock
